body {
  font-family: sans-serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
}

.App {
  flex: 1; /* Make the main content area take up available space */
  overflow-y: auto; /* Allow scrolling for the content */
}

footer {
  display: flex;
  background-color: aqua;
  padding: 10px 0;
  position: fixed; /* Fixed position */
  bottom: 0; /* Stick to the bottom of the viewport */
  left: 0;
  right: 0;
  z-index: 2; /* Ensure it's above other content */
}

.links {
  margin: auto; /* Center the links horizontally */
}

.logo {
  font-size: 18px;
  letter-spacing: 2px;
}

.link {
  margin-right: 15px;
  text-decoration: none; /* Remove underline from links */
  color: black; /* Set link text color */
}

.loading {
  padding: 50px;
  text-align: center;
}
